{% extends 'movies/base.html' %}
{% load static %}
{% block title %} {{ movie.title }} {% endblock title %}

{% block container %}
    <div class="container-fluid py-md-3">
{% endblock container %}

{% block sidebar %}
    <div class="side-bar col-lg-3">
{% endblock sidebar %}
{% block movie %}
    <div class="left-ads-display col-lg-8">
        <div class="row">
            <div class="desc1-left col-md-6" width="200" height="300">
                <img src="{{ movie.poster.url }}" class="img-fluid" alt="" width="200" height="300">
            </div>
            <div class="desc1-right col-md-6 pl-lg-4">
                <h3 class="editContent" style="outline: none; cursor: inherit;">
                    {{ movie.title }}
                </h3>
                <h5 class="editContent"></h5>
                <ul>
                    <li style="list-style: none"><span><b>Год:</b>{{ movie.year }}</span></li>
                    <li style="list-style: none"><span><b>Страна:</b>{{ movie.country }}</span>
                    </li>
                    <li style="list-style: none"><span><b>Слоган:</b>{{ movie.tagline }}</span>
                    </li>
                    <li style="list-style: none">
                        <span><b>Режиссер:</b>
                            {% for director in movie.directors.all %}
                                {{ director.name }}
                            {% endfor %}
                        </span></li>
                    <li style="list-style: none"><span><b>Актеры:</b>
                        {% for actor in movie.actors.all %}
                            {{ actor.name }}
                        {% endfor %}
                    </span></li>
                    <li style="list-style: none"><span><b>Жанр:</b>
                        {% for genre in movie.genres.all %}
                            {{ genres.name }}
                        {% endfor %}
                    </span>
                    </li>
                    <li style="list-style: none"><span><b>Премьера в мире:</b>{{ movie.world_premiere }}</span>
                    </li>
                    <li style="list-style: none">
                        <span><b>Бюджет:</b>{{ movie.budget }}</span></li>
                    <li style="list-style: none">
                        <span><b>Сборы в США:</b>{{ movie.fees_in_usa }}</span></li>
                    <li style="list-style: none"><span><b>Сборы в мире:</b>{{ movie.fees_in_world }}</span>
                    </li>
                    <li style="list-style: none">
                        <a href="#"><b>Рейтинг:</b>
                            <span class="fa fa-star" aria-hidden="true"
                                  style="outline: none; cursor: inherit;"></span>
                            <span class="fa fa-star" aria-hidden="true"
                                  style="outline: none; cursor: inherit;"></span>
                            <span class="fa fa-star" aria-hidden="true"
                                  style="outline: none; cursor: inherit;"></span>
                            <span class="fa fa-star" aria-hidden="true"
                                  style="outline: none; cursor: inherit;"></span>
                            <span class="fa fa-star" aria-hidden="true"
                                  style="outline: none; cursor: inherit;"></span>
                            <span class="editContent"
                                  style="outline: none; cursor: inherit;">5.0</span>
                        </a>
                    </li>
                    <div class="share-desc">
                        <div class="share">
                            <h4 class="editContent"
                                style="outline: none; cursor: inherit;">
                                Share:</h4>
                            <ul class="w3layouts_social_list list-unstyled">
                                <li>
                                    <a href="#" class="w3pvt_facebook editContent"
                                       style="outline: none; cursor: inherit;">
                                    <span class="fa fa-facebook-f"
                                          style="outline: none; cursor: inherit;"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="w3pvt_twitter editContent"
                                       style="outline: none; cursor: inherit;">
                                    <span class="fa fa-twitter"
                                          style="outline: none; cursor: inherit;"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="w3pvt_dribble editContent"
                                       style="outline: none; cursor: inherit;">
                                    <span class="fa fa-dribbble"
                                          style="outline: none; cursor: inherit;"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
            </div>
        </div>
        <div class="row sub-para-w3layouts mt-5">

            <h3 class="shop-sing editContent" style="outline: none; cursor: inherit;">
                О фильме {{ movie.title }}</h3>
            <p>
                {% for image in movie.movieshot_set.all %}
                    <img src="{{ image.image.url }}" class="img-movie-shots" alt="{{ image.description }}">
                {% endfor %}
            </p>
            <p class="editContent" >
                {{ movie.description|safe }}
            </p>
{#            <p class="mt-3 italic-blue editContent"#}
{#               style="outline: none; cursor: inherit;">#}
{#                <iframe width="560" height="315"#}
{#                        src=""#}
{#                        frameborder="0" allow="accelerometer; autoplay;#}
{#                                                               encrypted-media; gyroscope; picture-in-picture"#}
{#                        allowfullscreen>#}
{##}
{#                </iframe>#}
{#            </p>#}
            <p class="mt-3 editContent" style="outline: none; cursor: inherit;">

            </p>
        </div>
        <hr>
        <div class="row">
            <div class="single-form-left">
                <!-- contact form grid -->
                <div class="contact-single">
                    <h3 class="editContent">
                        <span class="sub-tittle editContent">{{ movie.review_set.count }}</span>Оставить отзыв</h3>
                    <form action="{% url 'add_review' movie.id %}" method="post" class="mt-4" id="formReview">
                        {% csrf_token %}
                        <input type="hidden" name="parent" id="contactparent" value="">
                        <div class="form-group editContent">
                            <label for="contactcomment" class="editContent">
                                Ваш комментарий *
                            </label>
                            <textarea class="form-control border" rows="5"
                                      id="contactcomment" required="" name="text"></textarea>
                        </div>
                        <div class="d-sm-flex">
                            <div class="col-sm-6 form-group p-0 editContent">
                                <label for="contactusername" class="editContent">
                                    Имя *
                                </label>
                                <input type="text" class="form-control border"
                                       id="contactusername" required="" name="name">
                            </div>
                            <div class="col-sm-6 form-group ml-sm-3 editContent">
                                <label for="contactemail" class="editContent">
                                    Email *
                                </label>
                                <input type="email" class="form-control border"
                                       id="contactemail" required="" name="email">
                            </div>
                        </div>
                        <button type="submit" class="mt-3 btn btn-success btn-block py-3">
                            Отправить
                        </button>
                    </form>
                </div>
                <!--  //contact form grid ends here -->
            </div>
        </div>
        {% for review in movie.get_review %}
            <div class="media py-5">
                <img src="{% static 'images/te2.jpg' %}" class="mr-3 img-fluid" alt="image">
                <div class="media-body mt-4">
                    <h5 class="mt-0 editContent">
                        {{ review.name }}
                    </h5>
                    <p class="mt-2 editContent">
                        {{ review.text }}
                    </p>
                    <a href="#formReview" onclick="addReview('{{ review.name }}', '{{ review.id }}')">Ответить</a>
                    {% for rew in review.review_set.all %}
                    <div class="media mt-5 editContent">
                        <a class="pr-3" href="#">
                            <img src="{% static 'images/te1.jpg' %}" class="img-fluid " alt="image">
                        </a>
                        <div class="media-body">
                            <h5 class="mt-0 editContent">
                                {{ rew.name }}
                            </h5>
                            <p class="mt-2 editContent">
                                {{ rew.text }}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <script>
    function addReview(name, id) {
        document.getElementById("contactparent").value = id;
        document.getElementById("contactcomment").innerText = `${name}, `
    }
    </script>
{% endblock movie %}